.details-container {

}

.details-section {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 30%;
  border-left: 1px solid lightgray;
  padding: 1rem 1rem 1rem 3rem;
  gap: 2rem;
}

.details-description {
  text-decoration: underline;
  font-weight: 500;
}

.close {
  display: flex;
  justify-content: end;
}

button {
}