.details-section {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 35%;
  border-left: 1px solid lightgray;
  padding: 1rem 2rem 3rem 3rem;
  margin-bottom: 3rem;
  gap: 2rem;
  overflow-y: scroll;
}

.details-description {
  text-decoration: underline;
  font-weight: 500;
}

.details-description ul {
  padding: 0;
}

.close {
  display: flex;
  justify-content: flex-end;
}
