body {
  box-sizing: border-box;
  font-size: 0.5rem;
  background-color: #fafafa;
  min-width: 320px;
  height: 100vh;
  padding: 3rem;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  gap: 0.8rem;
  margin-top: 0.2rem;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

.flow-container {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

p {
  font-size: 0.8rem;
}

span {
  font-size: 0.8rem;
}

li {
  font-size: 0.8rem;
}

.upload-icon {
  font-size: 1.1rem;
  padding-top: 0.2rem;
}
