/* Action Node */
.node-container {
  width: 150px;
  height: 120px;
  font-size: 12px;
  text-align: center;
  background-color: #fafafa;
}

.diamond-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.diamond-icon {
  width: 100%;
  height: 100%;
}

.text-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-inner-container {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
}

.text-inner-container p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.action-details-label {
  margin: 0.8rem;
  padding: 0.1rem;
  background-color: #fafafa;
  white-space: nowrap;
  font-size: 0.5rem;
}

/* Definition Node */
.definition-node {
  font-size: 0.5rem;
  background-color: #fafafa;
}

.node {
  white-space: normal;
  word-break: break-word;
}

.node p {
  font-size: 0.5rem;
}

.node-unhighlight {
  border: 0.2px solid black;
  width: 138px;
  font-size: 12px;
  text-align: center;
  background-color: #fafafa;
  padding: 5px;
  border-radius: 0.15rem;
}

.node-highlight {
  border: 3px dotted #0062ff;
  width: 134px;
  font-size: 12px;
  text-align: center;
  background-color: #fafafa;
  padding: 5px;
  border-radius: 0.15rem;
  box-shadow: 0px 0px 7px rgb(230, 230, 230),
    inset 0px 0px 6px rgb(230, 230, 230);
}

/* Interactive handle */

.collapse-icon {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%, 0);
  z-index: 100;
  font-size: 1.3rem;
  color: #0062ff;
}

.hidden-handle {
  background-color: #fafafa;
}
