.plan-header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.plan-title {
  display: flex;
  & h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.data-panel-group {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  box-sizing: border-box;
}

.panel-separator {
  width: 1px;
  background: lightgray;
  height: 90%;
}

.flow-container {
  height: 85%;
  width: 100%;
}

.context {
  display: flex;
  gap: 1rem;
  align-items: center;

  & h3 {
    font-size: 1rem;
    font-weight: 500;
  }
}

.context-tag {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 14px;
  background: #e6f4ff;
  color: #1677ff;
  border: 1px solid #91caff;
  border-radius: 4px;
}

.close-button {
  border: none;
  background: none;
  color: #1677ff;
  padding: 0;
  margin-left: 0.6rem;
  display: flex;
}

.applied-guidance {
  color: #666666;
  fontweight: normal;
  fontsize: 18px;
}
