.details-section {
  display: flex;
  flex-direction: column;
  min-width: 35%;
  max-width: 50%;
  border-left: 1px solid lightgray;
  padding-left: 3rem;
  padding-right: 2rem;
  margin-bottom: 5rem;
  gap: 2rem;
  overflow-y: scroll;
  white-space: normal;
  word-break: break-word;
}

.details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-description {
  text-decoration: underline;
  font-weight: 500;
}

.details-description ul {
  padding: 0;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.back-button {
  background-color: var(--teal);
  color: #fff;
  font-size: 0.9rem;
  border: 0px;
  border-radius: 6px;
  width: 90px;
  padding: 0.6rem;
  font-weight: bold;
}

.back-button:hover {
  background-color: var(--brTeal);
}

.single-item {
  margin: 1rem 0 1rem 0;
}

.cql-container {
  background-color: var(--secondary-background);
  padding: 2rem;
}

code {
  font-size: 1rem;
  color: var(--purple);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.buttons-container.center {
  justify-content: center;
  margin-top: 3rem;
}

.format-button {
  border: none;
  background: none;
  color: var(--teal);
  text-decoration: underline;
  font-size: 1rem;
}
