.form {
  max-width: 85%;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-item {
  width: 100%;
}

.form-item.upload {
  width: 600px;
}

.form-title {
  padding: 1rem;
}
