/* colors light purple rgba(186, 41, 169, 0.13), purple rgb(149, 32, 135) gray rgb(97, 97, 97) light blue rgba(38, 159, 175, 0.2), teal blue rgb(27, 79, 100) light grey rgb(231, 231, 231) background rgb(235, 235, 235)*/

/* gray blue CDD9E7 light gray blue EBF0F7 dark gray blue 9BB1C8 */

:root {
  --blueGray: #cdd9e7;
  --ltBlueGray: #ebf0f7;
  --drBlueGray: #9bb1c8;
  --teal: rgb(27, 79, 100);
  --ltTeal: rgba(38, 159, 175, 0.2);
  --brTeal: rgba(38, 159, 175);
  --purple: rgb(149, 32, 135);
  --ltPurple: rgba(186, 41, 169, 0.2);
  --yellow: #c69e06;
  --ltYellow: #fef7dc;
  --drBlue: #084174;
  --drGray: #444444;
  --background: #f5f5f5;
  --secondary-background: #ebebeb;
}

body {
  box-sizing: border-box;
  font-size: 0.5rem;
  background-color: var(--background);
  min-width: 320px;
  height: 100vh;
  padding: 1rem 2rem 2rem 3rem;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  color: var(--drGray);
  line-height: 1.2rem;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
  gap: 0.8rem;
  margin-top: 0.2rem;
}

.content-container {
  display: flex;
  height: 95%;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

.flow-container {
  height: 95%;
  width: 100%;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.6rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.6rem;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}

li {
  font-size: 1rem;
  line-height: 1.4rem;
}

a {
  color: var(--teal);
}

a:hover {
  color: var(--brTeal);
}

.upload-icon {
  font-size: 1.1rem;
  padding-top: 0.2rem;
}
