.info-icon {
  color: var(--teal);
}

.action-selection-label {
  margin: 0.2rem;
  text-align: center;
  background-color: #f8f8f9;
  white-space: nowrap;
  font-size: 0.5rem;
  color: var(--brTeal);
  font-weight: bold;
}

.opacity {
  opacity: 0.3;
}

.node {
  white-space: normal;
  word-break: break-word;
  width: 150px;
  background-color: #f8f8f9;
  line-height: 0.8rem;
  & p {
    font-size: 0.7rem;
    margin: 0;
  }

}

.start-node {
  width: 50px;
  height: 50px;
}

.start-node-container {
  height: 95%;
  width: 95%;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &.node-highlight {
    background: #90fab4;
    border-color: #0ad14d;
  }
}

.activity-node {
  border-radius: 30px !important;
  padding: 0.8rem 1.2rem !important;
}

.node-container {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 0.15rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.node-container.applicability {
  border: none;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.node-unhighlight {
  border: 0.1px solid var(--ltGray);
  background-color: var(--background);
}

.node-highlight {
  border: 2px dotted var(--yellow);
  background-color: var(--ltYellow);
}

/* Handles */

.expand-icon {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: -8px;
  transform: translate(-53%, 0);
  z-index: 100;
  font-size: 1.25rem;
  color: var(--teal);
}

.hidden-handle {
  border: none;
  background: none;
  min-width: 0;
  min-height: 0;
  width: 17px;
  cursor: grab !important;
}

.target-handle {
  top: -25px;
  cursor: grab;
}

/* .react-flow__edge.selected {
  stroke: var(--brTeal) !important;

  & path {
    stroke: var(--brTeal) !important;
  }
} */

.diamond-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.diamond-icon {
  width: 60%;
  height: 60%;
}

.diamond-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
