.form {
  max-width: 85%;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0;

  & a {
    text-decoration: underline;
  }
}

.form-item {
  width: 100%;
  color: var(--drGray);
  margin-bottom: 0;
}

.radio-group {
  justify-content: start;
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.25rem;
}

.ant-radio-checked .ant-radio-inner {
  background-color: var(--brand-light) !important;
  border-color: var(--brand-light) !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: var(--brand-light);
  outline-color: var(--brand-light) !important;
}

.ant-input-outlined {
  &:hover {
    border-color: var(--brand-light);
  }
  &:active {
    border-color: var(--brand-light);
  }
  &:focus {
    border-color: var(--brand-light);
  }
  &:focus-visible {
    border-color: var(--brand-light);
  }
}

.ant-upload {
  background-color: white;
  border-color: var(--neutral-300) !important;

  &:hover {
    border-color: var(--brand-light) !important;
    background-color: var(--bright-green-50) !important;
  }
}
.ant-select-outlined:hover {
  &.ant-select-selector {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }

  &:focus-visible {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }
}

#rc_select_0_list {
  &:hover {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }

  &:focus-visible {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }
}

.ant-select-focused .ant-select-selector {
  border-color: var(--brand-light) !important;
  outline-color: var(--brand-light) !important;

  &:focus-visible {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }
}

.ant-select-selector {
  &:hover {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }

  &:focus-visible {
    border-color: var(--brand-light) !important;
    outline-color: var(--brand-light) !important;
  }
}

.form-title {
  font-weight: 600;
  color: var(--brand-dark);
}

.form-description {
  margin: 0.5rem 0 0.5rem 0;
  color: var(--neutral-600);
}

.ant-upload-drag-icon svg {
  color: var(--brand-light);
}

.hidden .ant-upload-drag {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.button-group .ant-form-item-control-input-content {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0 0;
}

.endpoint-input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.endpoint-input-wrapper .ant-spin-spinning {
  position: absolute !important;
  right: 0.7rem !important;
}

@media (max-width: 720px) {
  .form {
    max-width: 100%;
    width: 100%;
  }
}
