.form {
  max-width: 85%;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;

  & a {
    text-decoration: underline;
  }
}

.form-item {
  width: 100%;
  color: var(--drGray);
  margin-bottom: 0;
}

.radio-group {
  justify-content: start;
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.25rem;
}

.ant-radio-checked .ant-radio-inner {
  background-color: var(--teal) !important;
  border-color: var(--teal) !important;
}

.ant-radio-wrapper:hover .ant-radio-inner
{
  border-color: var(--brTeal);
  outline-color: var(--brTeal) !important;
}

.ant-input-outlined {
  &:hover {
    border-color: var(--brTeal);
  }
  &:active {
    border-color: var(--brTeal);
  }
  &:focus {
    border-color: var(--brTeal);
  }
  &:focus-visible {
    border-color: var(--brTeal);
  }
}

.ant-upload {
  background-color: white;

  &:hover {
    border-color: var(--brTeal) !important;
  }
}
.ant-select-outlined {
  &:hover {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }

  &:focus-visible {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }
}

#rc_select_0_list {
  &:hover {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }

  &:focus-visible {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }
}

.ant-select-selector {
  &:hover {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }

  &:focus-visible {
    border-color: var(--brTeal) !important;
    outline-color: var(--brTeal) !important;
  }
}

.form-title {
  /* padding: 1rem; */
  font-weight: 600;
}

.form-description {
  margin: 0.5rem 0 0.5rem 0;
  color: var(--ltGray);
}

.ant-upload-drag-icon svg {
  color: var(--brTeal);
}
